OfficeHours/Connected Services/RatingReference/RatingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="className" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRatingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRatingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rating" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="className" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="hasRatings" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="diffRating" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRatingResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRatingSoapIn">
    <wsdl:part name="parameters" element="tns:GetRating" />
  </wsdl:message>
  <wsdl:message name="GetRatingSoapOut">
    <wsdl:part name="parameters" element="tns:GetRatingResponse" />
  </wsdl:message>
  <wsdl:message name="AddRatingSoapIn">
    <wsdl:part name="parameters" element="tns:AddRating" />
  </wsdl:message>
  <wsdl:message name="AddRatingSoapOut">
    <wsdl:part name="parameters" element="tns:AddRatingResponse" />
  </wsdl:message>
  <wsdl:portType name="RatingServiceSoap">
    <wsdl:operation name="GetRating">
      <wsdl:input message="tns:GetRatingSoapIn" />
      <wsdl:output message="tns:GetRatingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRating">
      <wsdl:input message="tns:AddRatingSoapIn" />
      <wsdl:output message="tns:AddRatingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RatingServiceSoap" type="tns:RatingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRating">
      <soap:operation soapAction="http://tempuri.org/GetRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRating">
      <soap:operation soapAction="http://tempuri.org/AddRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RatingServiceSoap12" type="tns:RatingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRating">
      <soap12:operation soapAction="http://tempuri.org/GetRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRating">
      <soap12:operation soapAction="http://tempuri.org/AddRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RatingService">
    <wsdl:port name="RatingServiceSoap" binding="tns:RatingServiceSoap">
      <soap:address location="http://localhost:59457/RatingService.asmx" />
    </wsdl:port>
    <wsdl:port name="RatingServiceSoap12" binding="tns:RatingServiceSoap12">
      <soap12:address location="http://localhost:59457/RatingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>