MemberPage/Connected Services/HoursReference/OfficeHoursService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddOfficeHours">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="profName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profLocation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taLocation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOfficeHoursResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddOfficeHoursResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddOfficeHoursSoapIn">
    <wsdl:part name="parameters" element="tns:AddOfficeHours" />
  </wsdl:message>
  <wsdl:message name="AddOfficeHoursSoapOut">
    <wsdl:part name="parameters" element="tns:AddOfficeHoursResponse" />
  </wsdl:message>
  <wsdl:portType name="OfficeHoursServiceSoap">
    <wsdl:operation name="AddOfficeHours">
      <wsdl:input message="tns:AddOfficeHoursSoapIn" />
      <wsdl:output message="tns:AddOfficeHoursSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OfficeHoursServiceSoap" type="tns:OfficeHoursServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddOfficeHours">
      <soap:operation soapAction="http://tempuri.org/AddOfficeHours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OfficeHoursServiceSoap12" type="tns:OfficeHoursServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddOfficeHours">
      <soap12:operation soapAction="http://tempuri.org/AddOfficeHours" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OfficeHoursService">
    <wsdl:port name="OfficeHoursServiceSoap" binding="tns:OfficeHoursServiceSoap">
      <soap:address location="https://localhost:44398/OfficeHoursService.asmx" />
    </wsdl:port>
    <wsdl:port name="OfficeHoursServiceSoap12" binding="tns:OfficeHoursServiceSoap12">
      <soap12:address location="https://localhost:44398/OfficeHoursService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>